In [1]:
import pandas as pd
import numpy as np
from pandas import DataFrame,Series
from sklearn.model_selection import train_test_split
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import cross_val_score
from sklearn.metrics import mean_squared_error
from math import sqrt
import statsmodels.api as sm
%matplotlib inline

In [2]:
f=pd.read_csv("/media/ankit97/New Volume/CODE WORLD/DATA/HOUSING PREDICTION/train.csv")

In [3]:
df=DataFrame(f)
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [4]:
df.shape

(1460, 81)

In [5]:
train=df.select_dtypes(exclude=[np.object])
train.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
0,1,60,65.0,8450,7,5,2003,2003,196.0,706,...,0,61,0,0,0,0,0,2,2008,208500
1,2,20,80.0,9600,6,8,1976,1976,0.0,978,...,298,0,0,0,0,0,0,5,2007,181500
2,3,60,68.0,11250,7,5,2001,2002,162.0,486,...,0,42,0,0,0,0,0,9,2008,223500
3,4,70,60.0,9550,7,5,1915,1970,0.0,216,...,0,35,272,0,0,0,0,2,2006,140000
4,5,60,84.0,14260,8,5,2000,2000,350.0,655,...,192,84,0,0,0,0,0,12,2008,250000

In [6]:
train=train.dropna()

In [7]:
target=train['SalePrice']
train=train.drop('SalePrice',axis=1)

In [8]:
X_train, X_test, y_train, y_test = train_test_split(
    train, target, test_size=0.3, random_state=0)

In [9]:
def algorithm(model):
    global X_train
    global X_test
    global y_train
    global y_test
    model.fit(X_train,y_train)
    y_predict=(model.predict(X_test))
    test_error=model.score(X_test, y_test)
    train_error=model.score(X_train,y_train)
    cross_val_error=cross_val_score(model,train,target,cv=5).mean()
    print('{}'.format(train_error)+" is the train score")
    print('{}'.format(test_error)+" is the test score")
    print('{}'.format(cross_val_error)+" is the cross validation error")

In [10]:
def train_test_error(Y_predict):
    global target
    return np.sqrt(((Y_predict-target)**2).mean())

# Linear Regression

### using scikit-learn

In [11]:
from sklearn import linear_model
lin_reg=linear_model.LinearRegression()
algorithm(lin_reg)

0.8458176553016217 is the train score
0.6058426708090501 is the test score
0.7679352325870252 is the cross validation error

### Using Statsmodels

In [12]:
X=sm.add_constant(train)
model=sm.OLS(target,train)
results=model.fit()
results.rsquared

0.96825736405869112

### Using numpy

In [13]:
beta=np.linalg.lstsq(X,target)[0]
y=np.dot(X,beta)
rms=train_test_error(y)
print('{}'.format(rms)+ "   is the rms error")

36204.60133056137   is the rms error

#### Q-R Decomposition

In [14]:
Q,R=np.linalg.qr(X)
R_inv=np.linalg.pinv(R)
beta=np.dot(R_inv,Q.T)
y=np.dot(np.dot(Q,Q.T),target)
rms=train_test_error(y)
print('{}'.format(rms)+ "   is the rms error")

36203.299973806264   is the rms error